body, html {
    background-color: #fff;
    height: 100%;
    width:100%;
}

a:hover{
	text-decoration: none;
}
.wrapper{
	position: relative;
}
.collab-container{
	/* width: 100%; */
	height: 100%;
	margin-left: 60px; 
	padding: 4px;
	/* overflow: hidden; */
}
.hide{
	display: none;
}
.show{
	display: block;
}
.left-panel{
	width: 60px;
	background: #1a1a1c;
    float: left;
	/* position: absolute; */
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 100vh;
}
.left-inner-panel{
	width: 100%; 
	float: left;
}
.iconSize {
    display: block;
    margin: 13px auto 13px;
    font-size: 1.875em;
    color: #444;
}
.toolSize{
	display: block;
	margin:10px auto 10px;
	font-size: 1.875em;
    color: #444;
    padding: 0px 5px;
}
.liStyle {
    text-align: center;
    margin: 20px 5px;
    background: #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
         }
   .active{
   	background: #fff !important;
   }
   .active-border{
   	border:2px solid blue;
   }
  .innerTool{
  		margin: 5px !important;
  		float: left;
         }
     .innerText{
     	margin: 3px !important;
     	float: left;
     }
     .text-margin{
     	margin: 0 auto !important;
     }
   .innerSize{
  		margin: 5px !important;
  		float: left;
         }
.select-tools{
	background: #c3c3c3;
	position: absolute;
	left: 65px;
	top:509px;
	border-radius: 3px;
}
.select-size{
		top:300px !important;
}
.text-width{
	width: 32px;
}
.select-colors{
	top:230px !important;
}
.icon-pencil:hover{
	
	text-decoration: none !important;
}
.font-12{
	font-size:0.750em !important;
	
}
.font-16{
	font-size:1.000em !important;
	
}
.font-20{
	font-size:1.250em !important;
	
}
.font-24{
	font-size:1.500em !important;
	
}
.font-28{
	font-size:1.750em !important;
	
}
.font-32{
	font-size:2.000em !important;
	
}
.font-margin{
	margin: 6px 0px !important;
	width: 32px;
}

.color-padding{
	padding: 16px 20px !important;
	cursor: pointer;
	height: 44px;
}
.bgHover{
	-width: 86%;
}

.black{
	background: #000 !important;
}
.red{
	background: #f44336 !important;
	
}
.green{
	background: #4caf50 !important;
	
}
.blue{
	background: #2196f3 !important;
	
}
.yellow{
	background: #ffc107 !important;
	
}
.purple{
	background: #9c27b0 !important;
	
}
.pink{
	background: #e91e63 !important;
	
}
.brown{
	background: #795548 !important;
	
}
.orange{
	background: #ff9900 !important;
	
}
.pencilSize{
		left: 65px !important;
		width: auto !important;
		top: 23px !important;
	}
	.eraserSize{
		left: 65px !important;
		width: auto !important;
		top: 94px !important;
	}
	.textSize{
		left: 65px !important;
		width: auto !important;
		top: 168px !important;
	}

@media(min-width: 767px) and (max-width:1024px) {

	.iconSize{
		margin: 7px auto 7px;
		font-size: 1.675em;
	}
	.select-tools{
		top:425px;
	}
	#SizeDiv{
		z-index: 12345;
	}
	.select-size{
		top:250px !important;
	}

	.select-colors{
		top:195px !important;
	}
	.active{
   	background: #fff !important;
   }
   .active-border{
   	border:2px solid blue;
   }

	.pencilSize{
		left: 65px !important;
		width: auto !important;
		top: 17px !important;
	}
	.eraserSize{
		left: 65px !important;
		width: auto !important;
		top: 76px !important;
	}
	.textSize{
		left: 65px !important;
		width: auto !important;
		top: 134px !important;
	}

   .toolSize{
   		margin: 5px auto 5px;
   		font-size: 1.475em;
   		
   }
   .mob-back{
   	-background: none !important;
   }
   .innerTool{
   	margin: 5px 3px !important;
   }
    .innerText{
     	margin: 3px !important;
     	float: left;
     }
     .text-margin{
     	margin: 0 auto !important;
     }
   .color-padding{
   	padding: 12px 16px !important;
   }
   .font-margin{
   	margin: 6px 0px !important;
	width: 32px;
   }

}
@media(max-width: 767px) {
	
	.collab-container{
		width: 100%;
		margin-left: 0;
	}

	.left-panel{
		width: 100%;
		height: 45px;
	}
	.liStyle{
		margin: 5px 3px;
		display: inline-block;
	}
	.active{
   	background: #fff !important;
   }
   .active-border{
   	border:2px solid blue;
   }
	.iconSize{
		-padding: 0px 5px;
		margin: 5px auto 5px;
		font-size: 1.125em;
		width: 20px;
	}
	.select-tools{
		left:278px;
		top:50px;
		width: 36px;
	}
	.toolSize{
		font-size: 1.375em;
		margin: 5px auto 5px;
	}
	.pencilSize{
		left: 2px !important;
		width: 36px !important;
		top: 50px !important;
	}
	.eraserSize{
		left: 40px !important;
		width: 36px !important;
		top: 50px !important;
	}
	.textSize{
		left: 80px !important;
		width: 36px !important;
		top: 50px !important;
	}
.select-size{
	top:50px !important;
	left: 210px !important;
}
.select-colors{
	top:50px !important;
	left: 118px !important;
}
.innerTool{
	margin: 5px 0px !important;
}
.mob-back{
	background: none;
	width: 34px;
	margin: 5px 1px !important;
	padding: 0px !important;
}
.color-padding{
	padding: 11px !important;
	margin: 3px 2px !important;
	width: 32px;
	height: 32px;
}
.font-margin {
    margin: 10px 0px !important;
}
}
@media(max-width: 570px) {
	.mob-back{
		padding: 0px;
	}
	.eraserSize{
		top:50px !important;
	}
	.textSize{
		top:50px !important;
	}
	.active{
   	  background: #fff !important;
     }
     .active-border{
	   	border:2px solid blue;
	   }
	}
@media(max-width: 318px) {
	.iconSize{
		    padding: 0px;
    		margin: 5px auto 5px;
    		font-size: 1.500em;
    		width: 22px;
	}
	.select-tools{
		width: 40px;
	}
	.pencilSize, .eraserSize, .textSize{
		left:42px !important;
	}
	.select-colors{
		left:43px !important;
	}
	.color-padding{
		padding: 10px !important;
	}
	.active{
	   	background: #fff !important;
	   }
	 .active-border{
	   	border:2px solid blue;
	   }

}
@media(max-width: 270px) {
	.iconSize{
		width: 18px;
		font-size:1.000em;
	}
	.toolSize{
		font-size: 1.175em;
	}
	.active{
	   	background: #fff !important;
	   }
	  .active-border{
   	border:2px solid blue;
   }
	}